boto3
botocore
cachetools
certifi
charset-normalizer
google-api-core
google-auth
google-cloud-bigquery
google-cloud-core
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
idna
jmespath
numpy
packaging
pandas
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
python-dateutil
pytz
requests
rsa
s3transfer
six
tzdata
urllib3
